/*HEADER*/
.logo-azb{

	background: url('../img/icons/logo.png') no-repeat;
	height: 120px;
	width: 450px;
	display: block;
}

.logo-container{

	margin: auto;
	width: 400px;
}

/*NAVIGATION*/

.sub-header-dark{

	padding: 20px;
	background: #00468b;

}

.navigation li{

	
	display: inline-block;
	padding: 0 22px;
	text-transform: uppercase;

}

.navigation li a{

	color: #fff;
	text-decoration: none;
}

.navigation li a:hover{

	cursor: pointer;
	transition: all 0.4s;
	color: #659cd1;
	text-decoration: none;
}

.nav-container{

	margin: auto;
	width: 60%;
	margin-top: 10px;
}

/*UPCOMING VERTICLES*/

.title-verticles{

	text-transform: uppercase;
	color: #00468b;
}

/*MANAGEMENT*/

.title-management{

	margin: auto;
	width: 60%;
	text-align: center;
	padding: 30px 0;
}

.ajay-img, .zia-img, .bahram-img{

	max-width: 100%;

}

.img-box{

	border-radius: 3px;
	box-shadow: 1px 1px 4px #888;
}

.management-info{

	padding: 15px;
}

.bg-light{

	background: #f5f5f5;
	padding-bottom: 50px;
}

/*POSTS*/

.posts-container{

	padding: 80px 0;
}

.sub-title-posts{

	line-height: 1px;
}

.posts-info{

	padding-top: 15px;
}

/*GOTO TOP BUTTON*/

.goto-top{

	position: fixed;
	right: 60px;
	bottom: 100px;
	background: #00468b;
	border-radius: 50%;
	width: 45px;
	height: 45px;
	z-index: 1;
	color: #fff;

}

/*FOOTER*/

.footer-container{

	background: #ededed;
	padding: 20px;
}

.footer-text{

	display: block;	
	margin: auto;
	width: 400px;
}